body{ border-color: black; background-color: aqua;}
h1{ background-color: blue; font-family: Verdana, Geneva, Tahoma, sans-serif;}

head{ background-color: blueviolet;}
p{ border-style: dotted
    ;}
    